body {
  background-color: #b91450;
}

.height_200 {
  border-radius: 10px;
}

.box {
  width: 30%;
  text-align: center;
}

.small-title {
  color: #b91450;
  margin: 8px 0;
  font-weight: 500;
}

.input-style {
  border: 1px solid #b91450;
  border-radius: 4px;
}

.btn {
  background-color: rgb(199, 195, 195);
  color: #b91450;
  border-radius: 4px;
  border: 2px solid #797676;
  margin-right: 20px;
  font-weight: 600;
}
.tuo_biglietto {
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.col_passeggero {
  float: left;
  width: 20%;
}
.col_passeggero:after {
  content: "";
  display: table;
  clear: both;
}
.col_dettaglio_biglietto table thead tr th {
  padding: 10px;
}
